:root {
  --pink: #fbe6f4ff;
  --yellow: #fffce2;
  --green: #e1f0e5ff;
  --blue: #b5caf9ff;
  --orange: #f5e6db;
  --raisin: #2b283aff;
  --grey: #d4d4d4;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding-bottom: 5%;
  font-family: 'Karla', sans-serif;
  background-color: var(--raisin);
  color: var(--yellow);
  height: 100vh;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

.fixed {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

.title {
  top: 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.planet {
  margin: 1em;
  aspect-ratio: 1;
  border-radius: 50%;
}

#facts {
  bottom: 20px;
  padding: 0.5em 1.5em;
  max-width: 50%;
  background-color: var(--raisin);
  border: 1px var(--yellow) solid;
  border-radius: 1em;
  line-height: 1.6;
}
